*
!*/
!*.v
!*.h
!*.c
!*.cc
!*.cpp
!*.S
!*.ld
!*.sh
!*.py
!*.mk
!bin/inst.bin
!bin/inst_diff.bin
!Makefile
!README
!README.md
!LICENSE
!.gitignore
**/build/
**/build_test/
**/difftest
!projects/cpu_diff/build_vcd/*.*
!projects/cpu_diff/build_vcd/bak/*.*
!libraries/difftest
!libraries/NEMU
!libraries/DRAMsim3
myinfo.txt
